@page "/systemcodes"
@attribute [StreamRendering]
@using HospitalManagementSystem.Data
@using HospitalManagementSystem.Models
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authorization;
@inject UserManager<ApplicationUser> usermanager;
@attribute [Authorize]
@inject NavigationManager navigation

<PageTitle>System Codes List</PageTitle>

<h1>System codes List</h1>

    <p><a href="/addsystemcodes" class="btn btn-primary float-end">Add New System Code</a></p>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Order No</th>
                <th>Created By</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var systemcode in SystemCodesList)
             {
                <tr>
                <td>@systemcode.Code</td>
                <td>@systemcode.Description</td>
                <td>Order No</td>
                <td>@systemcode.CreatedBy.FullName</td>
                <td>@systemcode.CreatedOn</td>
                </tr>
             }
        </tbody>
    </table>

@code {

    public List<SystemCode> SystemCodesList { get; set; } = new ();
  
    public string UserId { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;
        if (user.Identity.IsAuthenticated)
        {
            var currentuser = await usermanager.GetUserAsync(user);
            UserId = currentuser.Id;
        }

        SystemCodesList = await SystemCodeService.GetSystemCodesAsync();
    }
       
}
